name: .NET Test ve Docker Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: .NET 8 Setup
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    
    - name: Restore Project
      run: ./debt_payment_backend.sln
    
    - name: Build Project
      run: dotnet build ./debt_payment_backend.sln --no-restore
    
    - name: Run Tests
      run: dotnet test ./debt_payment_backend.Tests/debt_payment_backend.Tests.csproj --no-build --verbosity normal

  build-docker:
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Docker Buildx Setup
      uses: docker/setup-buildx-action@v3
    
    - name: Docker Hub Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker Images
      run: docker compose -f ./docker-compose.yml build

